@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --lighting-colour: #0089b7;
    --dark-colour: #003d62;
    --darker-colour: #003251;
    --secondary-colour: #fff700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darker-colour);
}
html{
    font-size: 62.5%;
}
body,
html{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}
body{
    font-size: 1.4rem;
}
#project{
    background: var(--darker-colour);
}
#project h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}
.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}
.grid_items{
    display: grid;
    place-items: center;
}

.card{
    /* width: 320px; */
    /* display: flex; */
    /* flex-direction: 0.5rem; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}
.card:hover .card_content{
    background: white;
    transform: translateY(0px);
}

/* .card_content{
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
} */
.card_content h3{
    text-align: center;
} 